/* img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.outer {
  background-image: url(college.jpg);
  background-size: initial;
  background-position: 100% 0%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  background-color: #f3f2ef;
  border-radius: 3px;
  width: 30%;
  height: 50%;
  text-align: center;
}

.inner img {
  width: 40%
}

.inner h1 {
  color: #1c7ed6;
}

.logoTest {
  width: 100%;
}

.topTest {
  width: 100%;
  height: 70px;
}

.landingPageBanner, .landingPageBanner img {
  width: 100%;
}

.college {
  opacity: .7;
}

.logo {
  display: flex;
  text-align: center;
  position: absolute;
  background-color: white;
  padding: 2%;
  border-radius: 10%;
  box-shadow: 10px 10px 100px;
}

.logo img {
  width: 60%;
}

.logo h1 {
  font-size: 2vw;
  font-weight: 800;
  color: #1c7ed6;
}

.logo h2{
  font-size: 1vw;
  font-weight: 500;
  color: #A8A8A8;
}

.btnGetStarted {
  background-color: #ffca4f;
  color: black;
  font-weight: 500;
  border-style: none;
}

.whyUse h3 {
  padding-top: 2%;
}

.whyUse h3, .howDoesItWork h3{
  padding-bottom: 2%;
  text-align: center;
  color: #1c7ed6;
  font-weight: 800;
}

.whyUse i {
  color: #1c7ed6;
}

.whyUse i:hover {
  color: #1c7ed6;
}

ul {
  text-align: left;
  width: 70%;
  margin: auto;
}

li {
  margin-top: 10%;
}

.card {
  text-align: center;
  padding: 5%;
  height: 100%;
}

.card-title {
  font-size: 25px;
}

.card-body {
  font-size: 20px;
}

hr {
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body { height:100%; }

.App {
  text-align: center;
}

h1, h2, .tabs a, .top h1, .top h4 {
  font-family: 'Work Sans', sans-serif;
}

.search-txt, .homeBtn, .tab, .testCol, .btnGetStarted, .whyUse, .howDoesItWork {
  font-family: 'Roboto', sans-serif;
}

.banner {
  padding: 10px;
  /* display: flex;
  align-items: left;  
  text-align: left; */
  background-color: #1c7ed6;
}

.banner img {
  float: left;
  width: 4%;
}

.banner h1 {
  text-align: left;
}

.banner Col {
  margin: 10px;
}

.colLogoutAccount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 100%;
}

.tabs a {
  color: white;
  font-weight: 500;
}

.tab {
  background-color: white;
  font-weight: 300;
  box-shadow: 10px 10px 100px;
}

.tab, .tabs {
  width: 60%;
  margin: auto;
}

.top h1 {
  color:white;
  font-weight: 500;
  text-align: center;
}

.top h4 {
  color:white;
  font-weight: 200;
  text-align: center;
}

.top h1, .top h4 {
  margin: 0;
}

.top img{
  width: 70px;
}

.rowTest img{
  float: left;
}

.rowTest {
  padding: 1%;
}

.testContainer {
  background-color: white;
  height: 100%;
  width: 80%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 3%;
}

.colBackgroundColor {
  background-color: #d6ebf2;
}

.testCol {
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  font-size: 1.5rem;
}

.testCol img{
  width: 60%;
}

.btnGetStarted {
  margin-top: 5%;
  text-align: center;
}

h1 {
  font-weight: 300;
  text-align: center;
  color: white;
  margin: 20px;
}

.login {
  color: black;
}

.login, .login button {
  font-size: 1.2rem;
}

.createAccount {
  text-align: center;
  display: block;
}

.loginCreateAccount {
  background-color: white;
  width: 60%;
  position: absolute;
  margin: auto;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 10px 10px 100px;
}

.search-box {
  background: white;
  width: 100%;
  height: 70px;
  padding: 10px;
  box-shadow: 7px 5px 20px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 25px;
  line-height: 50px;
  width: 95%;
  font-weight: 300;
}

.search-btn {
  color: #8D91BA;
  float: right;
  width: 5%;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
}

.homeBtn {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  background-color: transparent; 
  border-style: none;
  margin: auto;
  display: flex;
  font-weight: 300;
}

.homePageBtnRow {
  width: 100%;
  margin: auto;
}

.homeBtn:hover  {
  background-color: transparent; 
  border-style: none;
  color: #E0B47D;
  text-decoration: underline;
}

i:hover {
  color: #E0B47D;
}

.searchAndButtons {
  position: absolute;
  margin: auto;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.listContainer {
  background-color: white;
  overflow: auto;
  height: 60vh;
  padding: 2%;
  box-shadow: 10px 10px 100px;
  margin-top: 5%;
}

.individualPost {
  padding: 1%;
  transition: background-color 0.5s ease;
  transition: box-shadow 0.3s ease-in-out;
}

.individualPost:hover {
  background-color: lightblue;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.thumbnail {
  width: 60%;
  margin: auto;    
  display: block;
}

.colOne, .colTwo, .colThree, .contactColTwo {
  /* border-style: solid; */
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.colTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colTwo:hover {
  text-decoration: none;
}

.colThree {
  font-weight: 800;
  font-size: 5rem;
}

.colThree, .colThreeDeleteIcon {
  display:flex;
  align-items:center;
  justify-content:center;
  font-family: 'Roboto', sans-serif;
  color: #68BB59;
}

.contactSellerImage {
  width: 60%;
  margin: auto;    
  display: block;
}

.contactColTwo div {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

.test {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: red;
}

.imgPlaceholder {
  width: 100%;
  height: 100%;
  background-color: white;
}

.imgPlaceholder img {
  width: 100%;
  height: 100%;
}

.contactBtn {
  font-size: 1.5rem;
  font-weight: 300;
}

.contactBtn a {
  color: white;
}

.imageContainer img { 
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.colBookmark {
  background-color: red;
}

.rowBookmark {
  background-color: yellow;
}

.conBookmark {
  background-color: green;
}

@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media only screen 
and (max-width : 1224px) {
  .logo {
    top: 2%;
    right: 32.5%;
    width: 35%;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .logo {
    top: 15%;
    right: 37%;
    width: 25%;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  .logo {
    width: 25%;
    top: 15%;
    right: 37%;
  }
}