.App {
  text-align: center;
}

.banner {
  padding: 10px;
  display: flex;
  align-items: left;  
}

.banner img {
  width: 5%;
}

.banner Col {
  margin: 10px;
}

.banner h1 {
  color: white;
}

.search-box {
  background: white;
  width: 100%;
  height: 70px;
  padding: 10px;
  box-shadow: 1px 5px 5px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 25px;
  line-height: 50px;
  width: 95%;
}


.search-btn {
  color: #8D91BA;
  float: right;
  width: 5%;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
}

.homeBtn {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  background-color: transparent; 
  border-style: none;
}

.homePageBtnRow {
  width: 100%;
  margin: auto;
}

.homeBtn:hover  {
  background-color: transparent; 
  border-style: none;
  color: #E0B47D;
  text-decoration: underline;
}

.searchAndButtons {
  width: 60%;
  margin-top: 10%;
}

.login {
  color: black;
}

.login, .login button {
  font-size: 1.2rem;
}

.createAccount {
  text-align: center;
  display: block;
}

.loginCreateAccount {
  background-color: white;
  width: 70%;
  margin: auto;
}

.listContainer {
  background-color: white;
  overflow: auto;
  height: 80vh;
}

.individualPost {

}

.individualPost:hover {
  background-color: lightblue;
}

@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}